.businessHelp {
    background: linear-gradient(180deg, #FEFC9E -47.89%, #FDBFA3 126.42%);
    padding-top: 3rem;
    padding-bottom: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 6.5rem;
}



.businessHelpGroup {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 2rem;
    gap: 3rem;
}

.businessHelp h2 {
    color: #434364;
    padding-bottom: 5rem;
    font-size: 36px;
}

.businessHelpGroup img {
    width: 6rem;
}
.businessHelpGroup h3{
    color:  #6D31D0;
    font-size: 20px;
   
}

.businessHelpGroup p{
    color: #434364;
}

.bh1{
    width: 15rem;
}